<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Alex Antonich's Portfolio">
        <meta name="keywords" content="homework, assignment, college, fun facts, portfolio">
        <meta name="author" content="Alex Antonich">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Alex Antonich's Portfolio</title>

        <script src="../public/js/picture.js" defer></script>
        <script src="../public/js/color.js" defer></script>
        <link rel="shortcut icon" href="../public/img/1200px-Oakland_Golden_Grizzlies_logo.svg.png" type="image/jpg">
        <script src="https://kit.fontawesome.com/ebebe56727.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>

        <header id="pageheader">
            <h1>Some fun facts about me</h1>
            <nav>
                <nav class="nav_bar">
                    <a href="/"><i class="fas fa-user link"> Homepage</i></a>
                    <a href="my_resume"><i class="fas fa-file-alt link"> My resume</i></a>
                    <a href="my_fun_facts"><i class="fas fa-theater-masks link"> Fun facts about me</i></a>
                    <a href="my_blog"><i class="fas fa-book-open link"> My blog</i></a>
                </nav>
            </nav>
        </header>
 
        <section>
            <article>
                <h2>Favorite Current Book - The Man Who Invented Christmas</h2>
                <img src="../img/1.jpg" width=25% alt="The Man Who Invented Christmas" title="The Man Who Invented Christmas" class="medium"><br>
                <div class="center"><a href="https://www.amazon.com/Man-Invented-Christmas-Movie-Tie-ebook/dp/B06XR2FVHJ">Amazon Link</a></div>
            </article>

            <article>
                <h2>Favorite Song - Coldplay - Life in Technicolor</h2>
                <audio src="../audio/coldplay_life_in_technicolor.mp3" controls class="center">This is a sample MP3 audio file embed in the page.  Your Browser does not support it.</audio>
                <br>
                <iframe class="center" width="420" height="315"
                    src="https://www.youtube.com/embed/sPD59NTahc0"></iframe>
            </article>

            <article>
                <h2>Favorite Current Movie - Furious 7</h2>
                <iframe class="center" width="420" height="315"
                    src="https://www.youtube.com/embed/Skpu5HaVkOc"></iframe>
            </article>

            <article>
                <button id="colorButton" class="yellow">Change Color</button>
            </article>
        </section>

        <hr>
        <footer id="page_footer">
            <div class="center">
                <p>Contact information:</p>
                <i class="fas fa-address-book link"> Alex Antonich, 2021</i><br>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-envelope link"> antonich@oakland.edu</i><br></a>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-laptop-code link"> Github</i></a>
            </div>
        </footer>
    </body>
</html> 