<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Alex Antonich's Portfolio">
        <meta name="keywords" content="homework, assignment, college, portfolio">
        <meta name="author" content="Alex Antonich">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Alex Antonich's Portfolio</title>

        <script src="../public/js/color.js" defer></script>
        <script src="https://kit.fontawesome.com/ebebe56727.js" crossorigin="anonymous"></script>
        <script>let score = 0</script>
        <link rel="shortcut icon" href="../public/img/1200px-Oakland_Golden_Grizzlies_logo.svg.png" type="image/jpg">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
        <header id="pageheader">
            <h1>My Blog</h1>
            <nav>
                <nav class="nav_bar">
                    <a href="/"><i class="fas fa-user link"> Homepage</i></a>
                    <a href="my_resume"><i class="fas fa-file-alt link"> My resume</i></a>
                    <a href="my_fun_facts"><i class="fas fa-theater-masks link"> Fun facts about me</i></a>
                    <a href="trivia"><i class="fas fa-book-open link"> Trivia</i></a>
                </nav>
            </nav>
        </header>
 
        <section>
            <article>
                <p>Results</p>
                <% if(data == 1){ %>
                <p>Correct</p>
                <% } else { %>
                <p>Incorrect</p>
                <% } %>

                <p><%= data %></p>

            </article>
        </section>

        <hr>
        <footer id="page_footer">
            <div class="center">
                <p>Contact information:</p>
                <i class="fas fa-address-book link"> Alex Antonich, 2021</i><br>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-envelope link"> antonich@oakland.edu</i><br></a>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-laptop-code link"> Github</i></a>
            </div>
        </footer>
    </body>
</html> 
