<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Alex Antonich's Portfolio">
        <meta name="keywords" content="homework, assignment, college, portfolio">
        <meta name="author" content="Alex Antonich">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Alex Antonich's Portfolio</title>

        <script src="../public/js/color.js" defer></script>
        <script src="https://kit.fontawesome.com/ebebe56727.js" crossorigin="anonymous"></script>
        <script>let score = 0</script>
        <link rel="shortcut icon" href="../public/img/1200px-Oakland_Golden_Grizzlies_logo.svg.png" type="image/jpg">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>
        <header id="pageheader">
            <h1>My Blog</h1>
            <nav>
                <nav class="nav_bar">
                    <a href="/"><i class="fas fa-user link"> Homepage</i></a>
                    <a href="my_resume"><i class="fas fa-file-alt link"> My resume</i></a>
                    <a href="my_fun_facts"><i class="fas fa-theater-masks link"> Fun facts about me</i></a>
                    <a href="trivia"><i class="fas fa-book-open link"> Trivia</i></a>
                </nav>
            </nav>
        </header>
 
        <section>
            <article>
                <h2>Trivia Game</h2>
                <p>See how many you can get right. Type the number of the answer you think is right in and press the submit button.</p>
            </article>

            <article>
                <form action="/updatescore" method = "post">
                    <div>
                        <p>What company did Steve Jobs found after leaving Apple in 1985?</p>
                        <ol>
                            <li>Oracle</li>
                            <li>Wozniak Inc.</li>
                            <li>NeXT Inc.</li>
                        </ol> 
                        <label for="q1">Answer:</label><br>
                        <input type="text" name="q1"><br>
                    </div><br>
                    <div>
                        <p>What was the first ever First Person Shooter video game?</p>
                        <ol>
                            <li>Wolfenstein 3D</li>
                            <li>Battlezone</li>
                            <li>Maze War</li>
                        </ol> 
                        <label for="q2">Answer:</label><br>
                        <input type="text" name="q2"><br>
                    </div><br>
                    <div>
                        <p>When was the Atari 2600 released?</p>
                        <ol>
                            <li>1977</li>
                            <li>1980</li>
                            <li>1536 and it was powered by steam</li>
                        </ol> 
                        <label for="q3">Answer:</label><br>
                        <input type="text" name="q3"><br>
                    </div><br><div>
                        <p>What was the first x86 computer processor made by Intel?</p>
                        <ol>
                            <li>8088</li>
                            <li>8086</li>
                            <li>i486</li>
                        </ol> 
                        <label for="q4">Answer:</label><br>
                        <input type="text" name="q4"><br>
                    </div><br>
                    <div>
                        <p>When was Windows first released?</p>
                        <ol>
                            <li>1984</li>
                            <li>1990</li>
                            <li>1985</li>
                        </ol> 
                        <label for="q5">Answer:</label><br>
                        <input type="text" name="q5"><br>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </article>

            <article>
                <button id="colorButton" class="orange">Change Color</button>
            </article>
        </section>

        <hr>
        <footer id="page_footer">
            <div class="center">
                <p>Contact information:</p>
                <i class="fas fa-address-book link"> Alex Antonich, 2021</i><br>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-envelope link"> antonich@oakland.edu</i><br></a>
                <a href="mailto:antonich@oakland.edu"><i class="fas fa-laptop-code link"> Github</i></a>
            </div>
        </footer>
    </body>
</html> 
